{% extends 'products/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <div>
    <h1>Products list:</h1>
    {% if not products %}
      No products yet
    {% else %}
      <ul>
        {% for product in products %}
          <li>#{{ product.id }}.
            <a class="product-link" href="{{ url_for('products_app.details', product_id=product.id) }}">
              {{ product.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
  <div>
    <a
      class="text-decoration-none"
      href="{{ url_for('products_app.add') }}">Add new product</a>
  </div>
{% endblock %}
